* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-size: cover;
  padding: 3rem; }

/*.logo-box{
          position: absolute;
          top: 30px;
          left: 30px;        
  } */
.logo {
  height: 3.5rem;
  position: absolute;
  top: 3rem;
  left: 3rem; }

.logo:hover {
  animation-name: moveinrightsmall;
  animation-duration: 0.5s; }

.heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular' 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.main-heading {
  color: #ffffff;
  text-transform: uppercase; }

.main-heading-upr {
  letter-spacing: 3.5rem;
  display: block;
  font-weight: 700;
  font-size: 5.5rem;
  animation: moveinleft 1s; }

.main-heading-lwr {
  display: block;
  letter-spacing: 1.7rem;
  font-weight: 700;
  animation: moveinright 1s;
  margin-bottom: 4rem; }

.heading-secondary {
  background-image: linear-gradient(to right, #7ed56f, #55c57a);
  display: inline-block;
  font-weight: 700;
  font-size: 3.5rem;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular" "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 1rem;
  padding-bottom: 6rem; }
  .heading-secondary:hover {
    transform: skew(5deg, 2deg) scale(1.1);
    text-shadow: 1rem 3rem 5rem rgba(0, 0, 0, 0.349); }

.heading-main-small {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  color: #525151;
  margin-bottom: 2rem; }

.paragraph {
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular" "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #414040; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.btn-link {
  color: #7ed56f;
  font-size: 1.6rem; }

.section_pic {
  padding: 30rem 0;
  background-image: url(../img/raul-angel-1532359-unsplash.jpg);
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -10rem; }

.section_box_1 {
  background-color: #ffffffe8;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -14rem;
  border-radius: 4px; }

.section_box_2 {
  background-color: #ffffffe8;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -14rem;
  border-radius: 4px; }

.section_box_3 {
  background-color: #ffffffe8;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -14rem;
  border-radius: 4px; }

.section_box_4 {
  background-color: #ffffffe8;
  padding: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  margin-top: -14rem;
  border-radius: 4px; }

.section_icon {
  font-size: 6.7rem;
  margin-bottom: 0.9rem;
  background-image: linear-gradient(to right, #7ed56f, #55c57a);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent; }

[class^="section_box_"] {
  transform: skewY(7deg);
  box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
  transition: all 0.3sec; }
  [class^="section_box_"]:hover {
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.733);
    transform: translateY(-1rem) scale(1.1) skewY(7deg); }

@keyframes moveinleft {
  0% {
    transform: translateX(-13rem); }
  60% {
    transform: translateX(3rem); }
  100% {
    transform: translate(0); } }

@keyframes moveinright {
  0% {
    transform: translateX(13rem); }
  60% {
    transform: translateX(-3rem); }
  100% {
    transform: translate(0); } }

@keyframes moveinrightsmall {
  0% {
    transform: translateX(5rem); }
  100% {
    transform: translate(0); } }

.u-centre {
  text-align: center; }

.composition {
  position: relative; }
  .composition-all {
    width: 55%;
    position: absolute;
    border-radius: 2px;
    box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.397);
    z-index: 10;
    outline-offset: 1.1rem; }

.composition-all:hover {
  z-index: 20;
  transform: scale(1.05);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.473);
  outline: 1rem solid #55c57a; }

.img-1 {
  left: 0;
  top: -2rem; }

.img-2 {
  right: 0;
  top: 3rem; }

.img-3 {
  top: 8rem;
  left: 20%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    width: 54rem;
    float: left; }
    .row .col-1-of-2:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-4 {
    width: 24rem;
    float: left; }
    .row .col-1-of-4:not(:last-child) {
      margin-right: 6rem; }

.section-about {
  background-color: #f7f7f7;
  padding: 35rem 0 60rem 0;
  margin-top: -30vh; }

.link:link,
.link:visited {
  text-decoration: none;
  color: #777;
  background-color: #fff;
  display: inline-block;
  font-size: 1.9rem;
  padding: 1rem 5rem;
  border-radius: 10rem;
  position: relative; }

.link:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.205); }

.link:active {
  transform: translateY(-0.1rem); }

.link::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  background-color: #fff;
  border-radius: 10rem;
  transition: all 0.4s; }

.link:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  color: #7ed56f;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  border-radius: 10rem;
  position: relative; }

.btn-link:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.205);
  background-color: #7ed56f;
  color: white; }

.btn-link:active {
  transform: translateY(-0.1rem);
  background-color: #7ed56f;
  color: white; }

.btn-link::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  background-color: #7ed56f;
  border-radius: 10rem;
  transition: all 0.4s; }

.btn-link:hover::after {
  transform: scale(1.5);
  opacity: 0; }

.header {
  background-image: url(../img/Photo-2.jpg);
  height: 95vh;
  background-position: center;
  background-size: cover;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  backface-visibility: hidden; }
