.footer-box1{
    
    
}
.footer-box2{
    
    }
.footer-box3{
    
}
.footer-box4{
    
    
}
.footer_text{
    color: white;
    text-transform: uppercase;
    font-size: 1.9rem;
    border-bottom: 0.6px dotted gray;
    padding: 1rem;
}
.footer_para{
    color: white;
    padding: 1rem;
    font-size: 1.4rem;

}
.fb{
    
}