.footer-box1{
  font-family:  'Raleway', sans-serif;
    @include respond(phone){
    margin-left: 3.5rem;
      }
}
.footer-box2{
  font-family:  'Raleway', sans-serif;
    @include respond(phone){
        margin-left: 3.5rem;
      }
    }
.footer-box3{
  font-family:  'Raleway', sans-serif;
    @include respond(phone){
        margin-left: 3.5rem;
          }
}
.footer-box4{
  font-family:  'Raleway', sans-serif;
    @include respond(phone){
        margin-left: 3.5rem;
          }
}
.footer_text{
    color: white;
    text-transform: uppercase;
    font-size: 1.6rem;
    border-bottom: 0.6px dotted gray;
    font:  400 12px/1.8 "Open Sans", sans-serif;
    padding: 1rem;
}
.footer_para{
    color:whitesmoke;
  line-height: 2rem;
    padding: 1rem;
    font:  400 12px/1.8 "Open Sans", sans-serif;
    display: inline-block;
    
    @include respond(phone){
        width: 80%;
      }
}
.fb{
    
}