.row{
    max-width: 114rem;
    
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: $gutter-horizontal;}
    
    .col-1-of-2{
        width:54rem;
          float: left;
          &:not(:last-child){
              margin-right: 6rem;
          }
        
        
}
.col-1-of-4{
    width: 24rem;
    float:left;
    &:not(:last-child){
        margin-right: 6rem;
    }
}
}