.header {
    background-image:url(../img/Photo-24.jpg);
    height: 95vh;
    background-position: center;
    background-size: cover;

    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    backface-visibility: hidden; 
    
    @include respond(tab-land){clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    background-size: 100% 100%;
    }
    @include respond(land-port){
        background-image: url(../img/Photo-23.jpg);
    }
    @media (min-width: 600px){
        background-image: url(../img/new.jpg);
    }
}
 .bg-video{
     width: 100%;
     height: 100%;
     overflow: hidden;
     
     &_content{
         object-fit: cover;
         height: 100%;
         width: 100%;
     }
 }