.events{
    margin: -4rem;
    &_img1{
     padding: 15rem;
     background-position: center;
     background-size: cover;
     
     background-image: linear-gradient(to right,rgba(21, 101, 192, 0.836),#b92c27da),url(https://lh6.googleusercontent.com/5mDPQrSZajziAFPln7cdVwQlu83OGmox-xQZ6o6txaI7YnQW6Ss7MmLUrRCieHXIAaIHU9A=w16383);
    }
    &_img2{
        padding: 10rem;
        
     background-size: 100% 100%;
        
        background-image: linear-gradient(to right top,#f12711,#f5af19);
    }
    &_img3{
        padding: 10rem;
        
     background-size: 100% 100%;
        
        background-image: linear-gradient(to right top,#8E2DE2,#4A00E0);
    }&_img4{
        padding: 10rem;
        
     background-size: 100% 100%;
        
        background-image: linear-gradient(to right top,#aa4b6b, #6b6b83,#3b8d99);
    }&_img5{
        padding: 10rem;
        
     background-size: 100% 100%;
        
        background-image: linear-gradient(to right top,#5433FF, #20BDFF,#A5FECB);
    }&_img6{
        padding: 10rem;
        
     background-size: 100% 100%;
        
        background-image: linear-gradient(to right top,#c31432, #240b36);
    }
    &_img7{
        padding: 10rem;
        
     background-size: 100% 100%;
        
        background-image: linear-gradient(to right top,#dd3e54,#6be585);
    }&_img8{
        padding: 10rem;
        
     background-size: 100% 100%;
        
        background-image: linear-gradient(to right top,#FF416C,#FF4B2B);
    }&_img9{
        padding: 10rem;
        
     background-size: 100% 100%;
        
        background-image: linear-gradient(to right top,purple,pink,#f64f59);
    }
    &_paragraph{
        color: white;
        
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.7rem;
        padding-top: 1rem;
        line-height: 2.4rem;
       
    }
    &_heading-small{
        color: white;
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        font-weight: 800;
    }
    &_heading{
        color:white;
        padding: 0.5rem 0.6rem;
        border: 1.5px solid rgb(223, 222, 214);
        border-radius: 2px;
        display: inline-block;
        font-weight: 1000;
        letter-spacing: 0.3rem;
        font-family: 'Courier New', Courier, monospace;
        
        font-size: 3rem;
    }
    &_pic{
        box-shadow: 2rem 2rem 5rem rgba(0, 0, 0, 0.397);
        outline-offset: 1rem;
        transform: scale(1.05);
        box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.473);
        outline: 0.75rem solid rgb(208, 211, 212);
    
        &:hover{
           
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.473);
            outline: 1rem solid white;
        }
    }
    &_header{
        text-align: center;
        
    }
    .eventos{
        display: inline-block;
border-radius: 2.5px;
        margin-bottom: 3rem;
        color: #FF416C;
        font-size: 3rem;
        font-weight: 800;
        padding: 1rem;
        background-color: white;
    }
    &_header-heading{
        font-size: 2.5rem;
        color: white;
        font-weight: 1200;
letter-spacing: 0.8rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 2rem;
    }
    &_header-heading-small{
font-size: 1.4rem;
font-weight: 800;
padding: 0.5rem;
color: rgb(34, 33, 33);
background-color: white;
display: inline-block;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
}