.pi1{
    background-image: url(../img/pi1.jpeg);
}
.pi2{
    background-image: url(../img/pi2.jpeg);
}.pi3{
    background-image: url(../img/pi3.jpeg);
}.pi4{
    background-image: url(../img/pi4.jpeg);
}.pi5{
    background-image: url(../img/pi5.jpeg);
}.pi6{
    background-image: url(../img/pi6.jpeg);
}.old1{
    background-image: url(../img/20161.jpeg);
}
.old2{
    background-image: url(../img/20162.jpeg);
}
.old3{
    background-image: url(../img/20163.jpeg);
}
.old4{
    background-image: url(../img/20164.jpeg);
}
.old5{
    background-image: url(../img/20165.jpeg);
}
.old6{
    background-image: url(../img/20166.jpeg);
}
.old7{
    background-image: url(../img/20167.jpeg);
}
.old8{
    background-image: url(../img/20168.jpeg);
}
.old9{
    background-image: url(../img/logo_2016.jpeg);
}
