
.se2{
background-image: url(../img/pg2.jpeg);
}
.se3{

    background-image: url(../img/pg3.jpeg);
}
.se4{

    background-image: url(../img/pg4.jpeg);
}
.se5{

    background-image: url(../img/pg1.jpeg);
}