.section-about{
    background-color: #f7f7f7;
    padding: 28rem 0 40rem 0;
    margin-top: -30vh;
    @include respond (tab-land){
        padding: 50rem 0 80rem 0;
      }
    @include respond (tab-port){
        padding: 45rem 0 65rem 0;
      }
      @include respond (phone){
        padding: 38rem 0 60rem 0;
      }
}