/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../../RecruitForm/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../RecruitForm/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../RecruitForm/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../../RecruitForm/fonts/poppins/Poppins-SemiBold.ttf");
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;

  /* The image used */
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------------------------------------*/
a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/*---------------------------------------------*/
input {
  outline: none;
  border: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
input:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus:-moz-placeholder {
  color: transparent;
}
textarea:focus::-moz-placeholder {
  color: transparent;
}
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
input::-moz-placeholder {
  color: #999999;
}
input:-ms-input-placeholder {
  color: #999999;
}

textarea::-webkit-input-placeholder {
  color: #999999;
}
textarea:-moz-placeholder {
  color: #999999;
}
textarea::-moz-placeholder {
  color: #999999;
}
textarea:-ms-input-placeholder {
  color: #999999;
}

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact ]*/
#section_two {
  display: none;
  visibility: hidden;
}
#section_three {
  display: none;
  visibility: hidden;
}

.successpop {
  background-color: rgba(0, 0, 0, 0.808);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 99999999999999999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  &_content {
    opacity: 0.95;
    width: 75%;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: table;
    border-radius: 5px;
  }
  &_left {
    width: 33.33333333334%;
    vertical-align: middle;
    display: table-cell;
    @include respond(tab-port) {
      width: 0%;
    }
  }
  &_right {
    width: 66.66666667;
    @include respond(tab-port) {
      width: 100%;
    }
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 5rem;
  }
  &_cross {
    &:link,
    &:visited {
      font-size: 4rem;
      text-decoration: none;
      color: black;

      position: absolute;
      top: 1rem;
      right: 2rem;
      @include respond(tab-port) {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }
  &_img {
    background-position: center;
    background-size: 100% 100%;
    display: block;
    width: 100%;
    @include respond(tab-port) {
      display: none;
    }
  }
  &_paragraph {
    column-count: 2;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 400;
    @include respond(tab-port) {
      column-count: unset;
      column-rule: unset;
      text-align: center;
      column-gap: unset;
    }

    column-rule: 0.5px solid darkgrey;
    column-gap: 4rem;
    hyphens: auto;
  }
  &_heading {
    @include respond(tab-port) {
      text-align: center;
    }
  }
}
#logo_top{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: -120px;
  margin-bottom: -90px;
}
#rateQ {
  font-size: 23px;
  margin-bottom: 20px;
  color: whitesmoke;
}
#bg-video2 {
  display: none;
  visibility: hidden;
}

#bg-video3 {
  display: none;
  visibility: hidden;
}
.videos {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.wrapper {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 3em;
  display: grid;
  place-items: center;
  border-radius: 0.5em;
  position: relative;
  max-width: 350px;
}
.container + .container {
  margin-left: 4rem;
}

.fa-times {
  color: #e5e5e5;
  font-size: 1.5rem;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
}

.img {
  margin: 1.2em 0;
  width: 60px;
}

.text {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 2em;
}

.btn {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #fff;
  padding: 0.8em 4em;
  display: block;
  border-radius: 0.4em;
  margin-bottom: 1.6em;
}

.btn-red {
  background-color: #ed6755;
  -webkit-box-shadow: 0px 13px 34px -6px rgba(237, 103, 85, 1);
  -moz-box-shadow: 0px 13px 34px -6px rgba(237, 103, 85, 1);
  box-shadow: 0px 13px 34px -6px rgba(237, 103, 85, 1);
}

.btn-blue {
  background-color: #1c1b5e;
  -webkit-box-shadow: 0px 13px 34px -6px rgba(28, 27, 94, 1);
  -moz-box-shadow: 0px 13px 34px -6px rgba(28, 27, 94, 1);
  box-shadow: 0px 13px 34px -6px rgba(28, 27, 94, 1);
}
.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: transparent;
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.contact100-map {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.wrap-contact100 {
  width: 600px;
  // background: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/*==================================================================
[ Title form ]*/
.contact100-form-title {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 64px 15px 64px 15px;
}

.contact100-form-title-1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 50px;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  // padding-bottom: 20px;
}

.contact100-form-title-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  letter-spacing: 0.3rem;
  color: #fff;
  line-height: 1.5;
  text-align: center;
}

.contact100-form-title::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // background-color: rgba(54,84,99,0.7);
}

/*==================================================================
[ Form ]*/

.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 40px;
  padding-top: unset;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 26px;
}
.label-input100 {
  font-family: Poppins-Regular;
  font-size: 17.5px;
  color: white;
  line-height: 1.3;
  text-align: right;

  position: unset;
  top: 14px;
  left: -105px;
}

/*---------------------------------------------*/
.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: white;
  line-height: 1.2;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0 5px;
  margin-top: 10px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;

  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;

  background: #57b846;
}
.radio100 {
  margin: 10px 0px 5px 10px;
  font-size: 17px;
}
.errors {
  color: #c80000;
  padding-top: 0px;
  margin-top: 0px;
}

/*---------------------------------------------*/
input.input100 {
  height: 45px;
}

textarea.input100 {
  min-height: 115px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #57b846;
  border-radius: 25px;

  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  @include respond(phone) {
    min-width: 136px;
    margin-right: 4rem;
  }
}

.contact100-form-btn i {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.backy {
  background-color: #333333 !important;
  &:hover {
    background-color: #57b846 !important;
  }
}
.nexty {
  background-color: #57b846 !important;
  &:hover {
    background-color: #333333 !important;
  }
}
.contact100-form-btn:hover {
  background-color: #333333;
}
.backi {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px) !important;
}
.nexti {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}
.contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
}

/*------------------------------------------------------------------
[ Responsive ]*/
@media (max-width: 750px) {
  .wrap-contact100 {
    width: 560px;
  }
  .label-input100 {
    line-height: 1.5;
  }
}
@media (max-width: 600px) {
  .contact100-form {
    padding: 0px 15px 57px 25px;
  }
  #logo_top{
    width: 90%;
  }
  .contact100-form-title-2{
    font-size: 30px;
    margin-top: 7px;
  }


  .wrap-contact100 {
    width: 500px;
  }
}

@media (max-width: 520px) {
  .contact100-form {
    padding: 0px 15px 57px 15px;
  }
  .wrap-contact100 {
    width: 450px;
  }
  .label-input100 {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    line-height: 1.4;
    font-size: 15px;
  }
  .contact100-form-title-2{
    font-size: 24px;
    
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .wrap-contact100 {
    width: 430px;
  }
  .contact100-form-title-2{
    font-size: 22px;
    margin-top: 20px;
  }
}

@media (max-width: 460px) {
  .wrap-contact100 {
    width: 400px;

  }
}

@media (max-width: 420px) {
  .wrap-contact100 {
    width: 350px;
  }
  .contact100-form-title-2{
    font-size: 20px;
    margin-top: 30px;
   
  }
}

/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}
